<!DOCTYPE HTML>
<html>
	<head>
		<title>Udghosh'19 - Social Initiatives</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
    	<link rel="icon" type="image/png" href="favicon/logo.png" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu" style="background: black;">
				<ul class="links">
					<li><a href="/">Udghosh'19</a></li>
					<li><a href="/index_1">Login/Register</a></li>
          			<li><a href="/brochure" target="_blank">Official Brochure</a></li>
					<!--<li><a href="/merch">Merchandise</a></li>-->
          			<li><a href="/nossq">NOSSQ</a></li>
					<li><a href="/udg_champ">Udghosh Champs</a></li>
          			<li><a href="/events">Formal Events</a></li>
					<li><a href="/social">Social Initiatives</a></li>
					<li><a href="/ca">Campus Ambassador</a></li>
					<li><a href="/pronights">Udghosh Broadcast</a></li>
					<li><a href="/gallery">Udghosh Snapshot</a></li>
					<li><a href="/team">About Us</a></li>

				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Social Initiatives</h1>
						<p>Help Udghosh, in making the Society to be a better Place.</p>
					</header>
					<a href="#main" class="button big scrolly">Join The Cause</a>
				</div>
			</section>

		<!-- Main -->
			<div id="main">

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<!-- 2 Columns -->
								<div class="flex flex-2">
									<div class="col col1">
										<div class="image round fit">
											<a href="generic.html" class="link"><img src="images/pic01.jpg" alt="" /></a>
										</div>
									</div>
									<div class="col col2">
										<h3>SAATHI</h3>
										<p>An initiative with the Gracia Raina Foundation to work on women and child developement programs. This idea was propelled in last edition when Priyanka Suresh Raina visited IIT Kanpur.</p>
										<a href="#" class="button">Join The Cause</a>
									</div>
								</div>
						</div>
					</section>

				<!-- Section -->
					<section class="wrapper style2">
						<div class="inner">
							<div class="flex flex-2">
								<div class="col col2">
									<h3>UDAAN</h3>
									<p>An endeavour to reach out to the differently abled kids. We crave for the glorified feeling when each and every one of us rejoices in the beautiful games.</p>
									<a href="#" class="button">Join The Cause</a>
								</div>
								<div class="col col1 first">
									<div class="image round fit">
										<a href="generic.html" class="link"><img src="images/pic02.jpg" alt="" /></a>
									</div>
								</div>
							</div>
						</div>
					</section>

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<header class="align-center">
								<h2>Aliquam ipsum purus dolor</h2>
								<p>Cras sagittis turpis sit amet est tempus, sit amet consectetur purus tincidunt.</p>
							</header>
							<div class="flex flex-3">
								<div class="col align-center">
									<div class="image round fit">
										<img src="images/pic03.jpg" style="height: 150px;" alt="" />
									</div>
									<p>You don't have to be a doctor to save Lives.</p>
									<p href="" class="button">BLOOD DONATION</p>
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="images/pic05.jpg" style="height: 150px;" alt="" />
									</div>
									<p>He Who opens a school closes a prison.</p>
									<p href="" class="button">CHILD EDUCATION</p>
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="images/pic04.jpg" style="height: 150px;" alt="" />
									</div>
									<p>You are no PUNK so don't drive drunk.</p>
									<p href="" class="button">DON'T DRINK AND DRIVE</p>
								</div>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" style="background: #5DADE2;">
				<div class="copyright">
					<ul class="icons" style="color: white;">
						<li><a href="https://twitter.com/udghoshiitk?lang=en" class="icon fa-twitter" style="color: white;"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/udghosh.iitk/" class="icon fa-facebook" style="color: white;"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/udghosh_iitk/" class="icon fa-instagram" style="color: white;"><span class="label">Instagram</span></a></li>
						<li><a href="https://www.youtube.com/user/udghosh11" class="icon fa-youtube" style="color: white;"><span class="label">YouTube</span></a></li>
					</ul>
					<p style="color: white;">&copy; Udghosh'19</p>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>